*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 60px;
    background-color: #D0F5BE;
}
h1{
    font-size: 100px;
    margin-left: -2rem;
}
label{
    margin-top: 50px;
    font-size: 20px;
}
.question ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.question{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question input{
    z-index: 10;
    opacity: 0.1;
}
.selection input[type=radio]{
    width: 100%;
    height: 40px;
}
.question li{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 12px;
    justify-content: center;
    font-size: 25px;
    position: relative;
    width: 200px;
    height: 40px;
    margin-left: 2rem;
}

.question h3{
    font-size: 30px;
    margin-bottom: 10px;
}
.question h4{
    font-size: 30px;
    margin-left: -2rem;
}
.question li:hover{
    color: #FF90BB;

}
.selection p,
.selection input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.selection input[type="radio"]:checked+p,
.Checked+p {
    color: #FF2171;
}

.submit{
    margin-top: 20px;
    background-color: #FBFFDC;
    font-size: 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    height: 40px;
    width: 100px;
    margin-left: -4rem;
}
.next{
    margin-top: 20px;
    background-color: #FF90BB;
    font-size: 25px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    height: 40px;
    width: 200px;
    margin-left: -3rem;
    
}
#label{
    border: none;
    outline: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
    margin: 0;
    display: block;
    /* width: 100%; */
    padding: 12px 55px 15px 15px;
    font-size: 30px;
    color: #714BB9;
}
#label option{
    font-size: 20px;
}